header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--vermelho);
  margin-left: 0.6rem;
  font-family: "Arial Black", Times;
  font-size: 2.5rem;
}

header nav a {
  margin-left: 0.6rem;
  text-decoration: none;
  color: #aaa;
  margin-right: 0.6rem;
}

header nav a:hover {
  color: #fff;
}
